.wy-nav-content {
    max-width: 100%
}


.wy-table-responsive table td, .wy-table-responsive table th td {
    white-space: wrap;
    word-wrap: break-word;
}

@media print {
    .pagebreak {
        clear: both;
        min-height: 1px;
        page-break-after: always;
    }
    body {
        margin: 0.1in;  
      }
  }
