# install with:
# pip install -r requirements.txt
pathvalidate
pyyaml
markdown==3.7
watchdog
mako
cvss
pyvis
ruamel.yaml
watchdog
markdown-include
importlib_resources
semantic-version
shutils
mkdocs
jira
